django
python-dotenv
psycopg2-binary
ipython
django-extensions
pillow
Faker
django-debug-toolbar
django-crispy-forms
crispy-bootstrap5
djangorestframework
Markdown
django-filter
djangorestframework-simplejwt
djoser
redis
celery
flower
django-celery-results
django-celery-beat



